﻿<br />
<div class="container row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">Programas de Actuación Integrada (PAI)</h2>
    </div>
    @*<div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="PAI_INFORM" class="btn btn-info form-control text-white">Nuevo PAI</a>
    </div>*@
    <div class="col-12 border p-3" >
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>PAI</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th>Unidad Ejecución</th>
                    <th>Provincia</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div> 

@section Scripts{ 
<script src="~/js/PaiInformList.js"></script>
}