﻿@model RegDocMVC.Models.PaiInform  

<br />
<h2 class="text-info">@(Model.numPai  != 0 && Model.numPai!=null ? "Modificar" : "Nuevo") PAI</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        @if (Model.numPai != 0)
        {<input type="hidden" asp-for="numPai" />}

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="codPai"></label>
            </div>
            <div class="col-6">
                <input asp-for="codPai" class="form-control" ReadOnly="readonly" />
                <span asp-validation-for="codPai" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="nombre"></label>
            </div>
            <div class="col-6">
                <input asp-for="nombre" class="form-control" ReadOnly="readonly" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="poblacion"></label>
            </div>
            <div class="col-6">
                <input asp-for="poblacion" class="form-control" ReadOnly="readonly" />
                <span asp-validation-for="poblacion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="unidEjec"></label>
            </div>
            <div class="col-6">
                <input asp-for="unidEjec" class="form-control" ReadOnly="readonly" />
                <span asp-validation-for="unidEjec" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="provincia"></label>
            </div>
            <div class="col-6">
                <input asp-for="provincia" class="form-control" ReadOnly="readonly" />
                <span asp-validation-for="provincia" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            @*<div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">Grabar
                </button>
            </div>*@
            <div class="col-3">
                <a asp-action="Index" class="btn btn-success form-control">volver a la lista</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
}