﻿<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Registro Salida</h2>
    </div>
    @*<div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="PAI_SALIDA" class="btn btn-info form-control text-white">Nuevo Registro Salida</a>
    </div>*@
    <div class="col-12 border p-3" >
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Cod. PAI</th>
                    <th>Nº Registro</th>
                    <th>F.Entrada</th>
                    <th>Propietario</th>
                    <th>Area doc</th>
                    <th>Tipo doc</th>
                    <th>Referencia</th>
                    <th>Tipologia</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div> 

@section Scripts{ 
<script src="~/js/PaiSalidaList.js"></script>
}