﻿<br />
<div class="container-fluid row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Registro Entrada</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="PAI_ENTRADA" class="btn btn-info form-control text-white">
            Nuevo Registro Entrada
        </a>
    </div>

    <div class="mb-2 mt-1 col-12 border p-3">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionFiltro" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionFiltro" href="#collapseOne1" aria-expanded="true"
                       aria-controls="collapseOne1">
                        <h5 class="mb-0 text-info">
                            Filtros <i class="fas fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionFiltro">
                    <div class="card-body">

                        <div class="form-group row">
                            <div class="col-2">
                                <label>Código</label>
                            </div>
                            <div class="col-3">
                                <input type="text" id="txtCodigo" />
                            </div>
                            <div class="col-2 offset-1">
                                <label>Nº Registro</label>
                            </div>
                            <div class="col-3">
                                <input type="text" id="txtNReg" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-2">
                                <label>Propietario</label>
                            </div>
                            <div class="col-3">
                                <select id="ddPropietario" asp-items="@(new SelectList(@ViewBag.ListPropietarios,"id", "nombre"))">
                                </select>
                            </div>

                            <div class="col-2 offset-1">
                                <label>Tipologia</label>
                            </div>
                            <div class="col-3">
                                <select id="ddTipologia" asp-items="@(new SelectList(@ViewBag.ListaTipologia,"id", "nombre"))">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label>F. Entrada Desde</label>
                            </div>
                            <div class="col-3">
                                <input type="text" id="txtFEntradaIni" />
                            </div>

                            <div class="col-2 offset-1">
                                <label>F. Entrada Hasta</label>
                            </div>
                            <div class="col-3">
                                <input type="text" id="txtFEntradaFin" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-2">
                                <label>Area Doc.</label>
                            </div>

                            <div class="col-3">
                                <select id="ddAreaDocs" asp-items="@(new SelectList(@ViewBag.ListaAreaDocs,"id", "nombre"))"></select>
                            </div>

                            <div class="col-2 offset-1">
                                <label>Tipo Doc.</label>
                            </div>
                            <div class="col-3">
                                <select id="ddTipoDocs" asp-items="@(new SelectList(@ViewBag.ListaTipoDocs,"id", "nombre"))"> </select>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-2">
                                <label>Referencia</label>
                            </div>
                            <div class="col-3">
                                <input type="text" id="txtReferencia" />
                            </div>

                            <div class="col-3 offset-3">
                                <input type="button" class="btn btn-info form-control" value="Filtrar" id="btnFilter" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nº Registro</th>
                    <th>F.Entrada</th>
                    <th>Propietario</th>
                    <th>Area doc</th>
                    <th>Tipo doc</th>
                    <th>Referencia</th>
                    <th>Tipologia</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/PaiEntradaList.js"></script>
}
