﻿@model RegDocMVC.Models.PaiEntrada  

<br />
<h2 class="text-info">@(Model.nReg  != 0 ? "Modificar" : "Nuevo") Registro Entrada</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        @*@if (Model.nReg != 0)
        {<input type="hidden" asp-for="nReg" />}*@

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="codPai"></label>
            </div>
            <div class="col-2">
                <input asp-for="codPai" class="form-control-plaintext" ReadOnly="readonly"  />
                <span asp-validation-for="codPai" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="nReg"></label>
            </div>
            <div class="col-3">
                <input asp-for="nReg" class="form-control-plaintext" readonly="readonly"  />
                <span asp-validation-for="nReg" class="text-danger"></span>
            </div>

            <div class="col-3">
                <label asp-for="fEntrada"></label>
            </div>
            <div class="col-3">
                <input asp-for="fEntrada" class="form-control" />
                <span asp-validation-for="fEntrada" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="cPropPai"></label>
            </div>
            <div class="col-3">
                <select asp-for="cPropPai"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ListPropietarios,"id", "nombre"))">
                </select>

                <span asp-validation-for="cPropPai" class="text-danger"></span>
            </div>

            <div class="col-3">
                <label asp-for="referencia"></label>
            </div>
            <div class="col-3">
                <input asp-for="referencia" class="form-control" />
                <span asp-validation-for="referencia" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="areaDoc"></label>
            </div>

            <div class="col-3">
                <select asp-for="areaDoc"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ListaAreaDocs,"id", "nombre"))">
                </select>

                <span asp-validation-for="areaDoc" class="text-danger"></span>
            </div>
       
            <div class="col-3">
                <label asp-for="tipoDoc"></label>
            </div>
            <div class="col-3">
                <select asp-for="tipoDoc"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ListaTipoDocs,"id", "nombre"))">
                </select>

                <span asp-validation-for="tipoDoc" class="text-danger"></span>
            </div>
        </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="tipologia"></label>
                </div>
                <div class="col-4">
                    <select asp-for="tipologia"
                            class="form-control"
                            asp-items="@(new SelectList(@ViewBag.ListaTipologia,"id", "nombre"))">
                    </select>

                    <span asp-validation-for="tipologia" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="asunto"></label>
                </div>
                <div class="col-9">
                    @*<input asp-for="asunto" class="form-control" />*@
                    <textarea asp-for="asunto" class="form-control" text-wrap:normal" type="text"></textarea>

                    <span asp-validation-for="asunto" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="remitente"></label>
                </div>
                <div class="col-9">
                    <input asp-for="remitente" class="form-control" />
                    <span asp-validation-for="remitente" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="destinatario"></label>
                </div>
                <div class="col-9">
                    <input asp-for="destinatario" class="form-control" />
                    <span asp-validation-for="destinatario" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3 offset-2">
                    <button type="submit" class="btn btn-primary form-control">
                        Grabar
                    </button>
                </div>
                <div class="col-3">
                    <a asp-action="Index" class="btn btn-success form-control">volver a la lista</a>
                </div>
            </div>
</form>
</div>

@section Scripts{ 
    @*Rellena por jquery
    <script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/PAI_ENTRADA/GetPropietarios",
                success: function (data) {
                    $.each(data, function (index, row) {
                        $("#cPropPai").append("<option value='" + row.id + "'>" + row.nombre + "</option>")
                    });
                }
            });
        });
    </script>*@

<partial name="_ValidationScriptsPartial" />
}